@media screen and (max-width:480px){
    header{
        width: 100%;
    }
    .header-left img{
        margin-left: 25px;
    }

    .header-left h3{
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-top: 25px;
        padding-left: 0;
        margin-left: 10px;
    }

    .iphone-only{
        background-image: url(https://github.com/yuuki106/azuki_goods.github.io/blob/main/goods_phone_back.jpg?raw=true);
        background-size: cover;
        width: 100%;
        height: 220px;
    }

    
    .swich-wrapper{
        display: none;
    }


    .goods-wrapper{
        width: 100%;
    }

    .goods-wrapper{
        width: 100%;
    }
    
    .goods-wrapper::after {
        background-size: 50%;
        width: 100%;
    }


    .goods-list{
        width: 100%;
    }
    .goods-list h1{
        display: none;
    }
    .goods-list h2{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .goods-list h4{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .goods-list p{
        padding-bottom: 20px;
        font-size: 22px;
    }
    .goods-list img{
        margin-bottom: 20px;
    }
    .goods1-img{
        display: flex;
        justify-content: center;
    }
    .goods1-img img{
        width: 181px;
        height:176px;
    }
    .goods2-img{
        display: flex;
        justify-content: center;
    }
    .goods2-img img{
        width:148px;
        height: 167px;
    }
    .goods3-img{
        display: flex;
        justify-content: center;
    }
    .goods3-1{
        width: 161px;
        height: 168px;
    }
    .goods3-2{
        width: 160px;
        height: 164px;
    }

    .goods4-img{
        display: flex;
        justify-content: center;
    }
    .goods4-img img{
        width: 127px;
        height: 180px;
        margin-right: 3px;
    }
    .goods5-img{
        display: flex;
        justify-content: center;
    }
    .goods5-img img{
        width: 180px;
        height: 82px;
    }

    .iphone-swich{
        display: block;
        width: 100%;
        background-color: white;
    }
    .iphone-switchlist{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        border: 3px solid black;
    }
    
    .iphone-switchlist li{
        width: 33.33%;
        height: 72px;
        border: 1px solid black;
        list-style: none;
    }







    footer{
        width: 100%;
    }
}
