* {
    box-sizing: border-box;
    margin: 0;
    float: none;
	position: static;
}
.iphonever{
    display: none;
}

img {
	max-width: 100%;
	height: auto;

}
header{
    background-color: black;
    height: 70px;
    width: 1440px;
    
}
.container{
    width: 1440px;
    
}
.header-left img{
    width: 120px;
    float: left;
}
.header-left h3{
    color: white;
    padding-top: 21px;
    float: left;
}

.swich-wrapper{
    background-color: grey;
    height: 70px;
    text-align: center;
    width: 1440px;
}
.swich-wrapper a{
    padding: 0 75px;
    background-color: white;
    line-height: 70px;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}
.goods-wrapper::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:1440px;
    height:100%;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-image:url(/img/goods-background.jpg);
    background-size:cover;
    }
.goods-list{
    background-color:rgba(0, 0, 0, 0.745);
    width: 1200px;
    height: 100%;
    margin: auto;
}
.goods-list h1{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "rounded-l-mgenplus-1c-black";
    padding-top: 30px;
}
.goods-list h4{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
.goods-list h2{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "azuki_font";
    font-size: 30px;
    font-weight: bold;
}
.goods-list img{
    margin-right: 5px;
    padding-bottom: 30px;
}
.goods-list p{
    text-align: center;
    font-size: 30px;
    font-family: "azuki_font";
    padding-bottom: 30px;

}
.goods1{
    text-align: center;
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}

.goods2{
    text-align: center;
    color: white;
}

.goods3 {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}


.goods4 {
    text-align: center;
    color: white;
}


.goods5{
    text-align: center;
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}

.iphone-swich{
    display: none;
}


footer{
    width: 1440px;
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
