* {
    box-sizing: border-box;
    margin: 0;
    float: none;
	position: static;
}
.iphonever{
    display: none;
}


header{
    background-color: black;
    height: 80px;
    width: 1440px;
    
}
.header-left img{
    float: left;
    margin-top: 6px;
    margin-left: 20px;
}
.header-left h3{
    color: white;
    float: left;
    padding-top: 28px;
    padding-left: 20px;
}

.swich-wrapper{
    background-color: grey;
    text-align: center;
    width: 1440px;
    border-bottom: 10px solid black;
   
}
.swich-wrapper a{
    padding: 20px 75px;
    background-color: white;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}
.goods-wrapper{
    width: 1440px;
}

.goods-wrapper::after {
    content:"";
    display:block;
    position:fixed;
    top:30px;
    left:0;
    z-index:-1;
    width:1440px;
    height:100%;
    background-image:url(/img/goods_back.jpg);
    background-size:100%;
}
.goods-list{
    background-color:rgba(0, 0, 0, 0.745);
    width: 1200px;
    height: 100%;
    margin: auto;
    text-align: center;
}
.goods-list h1{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "rounded-l-mgenplus-1c-black";
    padding-top: 30px;
}
.goods-list h4{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
.goods-list h2{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "azuki_font";
    font-size: 30px;
    font-weight: bold;
}
.goods-list img{
    margin-right: 5px;
    margin-bottom: 30px;
}
.goods-list p{
    text-align: center;
    font-size: 30px;
    font-family: "azuki_font";
    padding-bottom: 30px;

}
.goods1{
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}

.goods2{
    color: white;
}

.goods3 {
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}


.goods4 {
    color: white;
}


.goods5{
    background-color:rgba(255, 255, 255, 0.791);
    color: black;
}

.iphone-swich{
    display: none;
}


footer{
    width: 1440px;
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
